@tailwind base;
@tailwind components;
@tailwind utilities;

.w-sidebar {
  min-width: 200px;
  max-width: 200px;
}

.w-content {
  min-width: 500px;
  max-width: 1500px;
}

.w-small {
  min-width: 60px;
  max-width: 60px;
}
.w-medium {
  min-width: 140px;
  max-width: 140px;
}
.w-large {
  min-width: 180px;
  max-width: 180px;
}
.w-fit-content {
  min-width: fit-content;
}

.clickable {
  cursor: pointer;
}

.tablerow:hover {
  background: rgb(246, 245, 248); 
  color: rgb(51, 51, 71);
}

.w-pdf {
  min-width: 100%;
  max-width: 100%;
  min-height: 600px;
  max-height: 900px;
}

.pagination-container {
  position: fixed;
  bottom: 30px;
  width: 80%;
}

.overflow-y{
  overflow-y:scroll
}

.truncate-y {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajusta este valor según tus necesidades */
}